@{
    ViewBag.Title = "Contact";
    ViewBag.Description = "MCGA 2017 - Proyect";
    ViewBag.Author = "Federico Retta";
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;
    //ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@VContrerasAR");
    ViewBag.OpenGraph = new OpenGraphProfile(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        FirstName = "Federico Retta",
        Gender = OpenGraphGender.Male,
        LastName = "Retta",
        SiteName = Application.Name,
        Username = "Federico Retta"
    };
}

<header class="page-header">
    <h1><span aria-hidden="true" class="fa fa-phone"></span> @ViewBag.Title</h1>
</header>

<div class="row">
    <section class="col-md-9" role="region">
        <p>@ViewBag.Description</p>
    </section>
    <aside class="col-md-3" role="complementary">
        <address>
            Correa 4049,<br>
            Saveedra, CABA<br>
            <abbr title="Phone">P:</abbr>
            5353-5533
        </address>
        <address>
            <strong>Soporte Tecnico:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </aside>
</div>