@using ASF.UI.WbSite.Constants.ErrorController
@using ASF.UI.WbSite.Constants.HomeController
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Home";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "La meta descripción es una etiqueta importante para el SEO, y no porque sirva de ayuda en los rankings. Lo cierto es que no afecta para nada a la posición de tus páginas de los resultados del buscador....";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Victor Hugo Contreras";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@VContrerasAR");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<header class="jumbotron">
    <h1>Bienvenido</h1>
    <p> Para comenzar con su compra inicie sesion o haga click a continuacion</p>
    <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Iniciar Sesion &raquo;</a></p>
</header>

<div class="row">
    <article class="col-md-4" role="article">
        <header>
            <h2><span aria-hidden="true" class="fa fa-book"></span> Getting started</h2>
        </header>
        <p>
            <a href="http://go.microsoft.com/fwlink/?LinkId=301870">ASP.NET Web API</a> is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
    </article>
    <article class="col-md-4" role="article">
        <header>
            <h2><span aria-hidden="true" class="fa fa-dropbox"></span> Get more libraries</h2>
        </header>
        <p><a href="http://go.microsoft.com/fwlink/?LinkId=301871">NuGet</a> is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </article>
    <article class="col-md-4" role="article">
        <header>
            <h2><span aria-hidden="true" class="fa fa-cloud"></span> Web Hosting</h2>
        </header>
        <p>You can easily find a <a href="http://go.microsoft.com/fwlink/?LinkId=301872">web hosting</a> company that offers the right mix of features and price for your applications.</p>
    </article>
</div>

<
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fede.retta';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>