@using ASF.UI.WbSite.Constants.ErrorController
@using ASF.UI.WbSite.Constants.HomeController
@model IEnumerable<ASF.Entities.Product>
<link href="~/Content/marco.css" rel="stylesheet" />
@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "Home";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "La meta descripción es una etiqueta importante para el SEO, y no porque sirva de ayuda en los rankings. Lo cierto es que no afecta para nada a la posición de tus páginas de los resultados del buscador....";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Victor Hugo Contreras";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@VContrerasAR");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

<header class="jumbotron">
    <h1>Bienvenido</h1>
    <p> Para comenzar con su compra inicie sesion o haga click a continuacion</p>
    <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Iniciar Sesion &raquo;</a></p>
</header>

<h1>Productos Destacados</h1>


@foreach (var item in Model)
{

    <div class="col-md-3 col-sm-6">
        <span class="thumbnail">
                <img class="img-src" src="~/Uploads/@Url.Content(item.Image)" alt="...">
                @*<img src="~/content/image/no_foto.png" alt="...">*@
            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <hr class="line">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p class="price">$@Html.DisplayFor(modelItem => item.Price)</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    @*<button class="btn btn-success right"> Comprar</button>*@
                </div>
            </div>
        </span>
    </div>

}

